.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1B334C;
    /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple); */
    /* background: pink; */
  }

  .body {
    margin:0px;
  }
  
  .main {
    float:left;
    padding:1rem;
    background: #2C7BA3;
    border-radius: 1rem;
    margin: 15px;
    padding: 10px;
  }
  .content {
    font-size: 2rem;
    /* padding: 0.5rem; */
    border-radius: 1rem;
    background: #A5D2D3;
    overflow: hidden;
  }
  .line {
    justify-content: space-between;
  }

  .box {
    width: 70px;
    height: 70px;
    background : #D2E3E0;
    border-radius: 1rem;
    float : left;
    margin : 10px;
    display : flex;
    justify-content : center;
    align-items : center;
    font-weight:bolder;
    font-family: "Noto Sans KR", sans-serif;
    color : black;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0.1ms;
  }
  .box:hover {
    background: #EDEDE9;

  }

  #turn_O {
    opacity: 1;
  }

  #turn_X {
    opacity: 0.2;
  }