.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #301e4e;
  }
  
  .main {
    float:left;
    padding:1rem;
    background: #F6A956;
    border-radius: 1rem;
    margin: 15px;
    padding: 10px;
  }
  .content {
    font-size: 2rem;
    /* padding: 0.5rem; */
    border-radius: 1rem;
    background: #ff6e6c;
    overflow: hidden;
  }
  .line {
    justify-content: space-between;
  }

  .box {
    width: 70px;
    height: 70px;
    background : #FCC574;
    border-radius: 1rem;
    float : left;
    margin : 10px;
    display : flex;
    justify-content : center;
    align-items : center;
    font-weight:bolder;
    font-family: "Noto Sans KR", sans-serif;
    color : black;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-delay: 0.1ms;
  }
  .box:hover {
    background: #eccda1;

  }

  #turn_O {
    opacity: 1;
  }

  #turn_X {
    opacity: 0.2;
  }